/* ClassForm component CSS */
.ClassForm {
    display: flex;
    flex-direction: row;
    margin: 30px;
    padding: 10px; 
}
.class-form {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    margin: 0 auto;
  }
  
  input.input-field {
    width: 275px;
  }

  .input-field {
    width: 250px;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .submit-button {
    background-color: #780107;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
    cursor: pointer;
    width: 50%;
  }
  
  .submit-button:hover {
    background-color: #1D1B1E;
  }

  /* ClassList component CSS */

.table-container {
    background-color: #f4f4f4;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 750px;
    margin: 0 auto;
  }
  
  .classification-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .classification-table th,
  .classification-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .classification-table th {
    background-color: #780107;
    color: #fff;
  }
  
  .classification-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .classification-table tr:hover {
    background-color: #ddd;
  }
  
  /* CSS for styling buttons */
  /* Style the "Edit" and "Delete" buttons */
  button {
    padding: 4px 8px; /* Adjust the padding as needed */
    background-color: #780107; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 10px;
  }
  
  button:hover {
    background-color: #1D1B1E; /* Button background color on hover */
  }
  
  