* Header.css */

    .header {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center; /* Center-align text content */
        width: relative;
       
    }

    h1 {
        font-size: 24px;
    }
    nav {
        background-color: #F1F0EC;
        width: relative;

    }
    nav ul {
        list-style: none;
        padding: 10px;
        display: flex;
    }

    nav li {
        margin-right: 20px;
    }

    nav a {
        text-decoration: none;
        color: #7C090F;
    }

    /* Style navigation links on hover */
    nav a:hover {
        text-decoration: underline;
    }


    .logo {
        max-width: 100px; /* Limit the maximum width of the image */
        margin-right: 20px; /* Add some spacing between the image and text */
    }

    h1 {
        margin: 0; /* Remove default margin to avoid spacing at the top */
        color: #F1F0EC
    }

    .title-container{
        display: flex;
        flex-direction: column;
    }
    .title-container h1 {
        margin: 10px 0 !important; /* Adjust the margin to control the vertical spacing */
        margin-bottom: -5px;

    }

    .title-container h2 {
        margin: 5px 0 !important; /* Adjust the margin for paragraphs */
        margin-top: -5px;
        font-size: 16px;
        color: #FFD700;
    }


    .header-container {
        background-color: #7C090F;
        display: flex;
        justify-content: space-between; /* Space between items in the header container */
        align-items: center;
        padding: 10px; /* Add padding for better spacing */
        display: grid;
        grid-template-columns: auto 1fr; /* Two columns: auto for the button and 1fr for the header content */
        align-items: center; /* Center items vertically */
      
        
    }
    .header-content {
        display: flex;
        justify-content: center; /* Horizontally center content */
        align-items: center; /* Vertically center content */
        text-align: center; /* Center text in the header content */

    }
    .logo {
        max-width: 100px; /* Limit the maximum width of the image */
        margin-right: 20px; /* Add some spacing between the image and text */

    }

    .msulogo{
        max-width: 100px; /* Limit the maximum width of the image *20px    margin-left: 20px; /* Add some spacing between the image and text */

    }


    .toggle-button {
        background: none;
        border: none;
        cursor: pointer;
        padding: 10px;
        
      }
      
      .bar {
        width: 25px;
        height: 3px;
        background-color: #333; /* Change the color to your preference */
        margin: 6px 0;
        transition: 0.4s;
      }
      
      /* Rotate the middle bar to create the hamburger effect */
      .toggle-button.active .bar:nth-child(2) {
        transform: rotate(-45deg);
      }
      
      .toggle-button.active .bar:nth-child(3) {
        transform: rotate(45deg);
      }

